@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translateZ(0);
  }
}

@keyframes slideOutDown {
  0% {
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes translateX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes wobble {
  0%,
  85%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  85% {
    transform: translateX(6px) rotate(-0.6deg);
  }
  87.5% {
    transform: translateX(-6px) rotate(-0.6deg);
  }
  90% {
    transform: translateX(15px) rotate(3.6deg);
  }
  92.5% {
    transform: translateX(-15px) rotate(3.6deg);
  }
  95% {
    transform: translateX(6px) rotate(-0.6deg);
  }
  97.5% {
    transform: translateX(-6px) rotate(-0.6deg);
  }
}

#eypENqKG5ne2 {
  animation: eypENqKG5ne2_c_o 3000ms linear 1 normal forwards;
}

@keyframes eypENqKG5ne2_c_o {
  0% {
    opacity: 0;
  }
  13.333333% {
    opacity: 0;
  }
  23.333333% {
    opacity: 1;
  }
  46.666667% {
    opacity: 1;
  }
  56.666667% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eypENqKG5ne3 {
  animation: eypENqKG5ne3_c_o 3000ms linear 1 normal forwards;
}
@keyframes eypENqKG5ne3_c_o {
  0% {
    opacity: 0;
  }
  6.666667% {
    opacity: 0;
  }
  16.666667% {
    opacity: 1;
  }
  53.333333% {
    opacity: 1;
  }
  63.333333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eypENqKG5ne4 {
  animation: eypENqKG5ne4_c_o 3000ms linear 1 normal forwards;
}
@keyframes eypENqKG5ne4_c_o {
  0% {
    opacity: 0;
  }
  6.666667% {
    opacity: 0;
  }
  16.666667% {
    opacity: 1;
  }
  53.333333% {
    opacity: 1;
  }
  63.333333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eypENqKG5ne5 {
  animation: eypENqKG5ne5_c_o 3000ms linear 1 normal forwards;
}
@keyframes eypENqKG5ne5_c_o {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eypENqKG5ne6 {
  animation: eypENqKG5ne6_c_o 3000ms linear 1 normal forwards;
}
@keyframes eypENqKG5ne6_c_o {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eypENqKG5ne7 {
  animation: eypENqKG5ne7_c_o 3000ms linear 1 normal forwards;
}
@keyframes eypENqKG5ne7_c_o {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eypENqKG5ne8 {
  animation: eypENqKG5ne8_c_o 3000ms linear 1 normal forwards;
}
@keyframes eypENqKG5ne8_c_o {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animation {
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  &__floating-menu {
    animation-duration: 0.5s;
    @media screen and (min-width: $lg) {
      animation-duration: 0.2s;
    }
    &--in {
      animation-name: slideInUp;
      @media screen and (min-width: $lg) {
        animation-name: fadeIn;
      }
    }
    &--out {
      animation-name: slideOutDown;
      @media screen and (min-width: $lg) {
        animation-name: fadeOut;
      }
    }
  }
  &__floating-chat {
    animation-duration: 0.2s;
    &--in {
      animation-name: fadeIn;
    }
    &--out {
      animation-name: fadeOut;
    }
  }
  &__modal {
    animation-duration: 0.3s;
    &--in {
      animation-name: fadeIn;
    }
    &--out {
      animation-name: fadeOut;
    }
  }
  &__tabs {
    animation-duration: 0.3s;
    &--in {
      animation-name: fadeIn;
    }
    &--out {
      animation-name: fadeOut;
    }
  }
  &__loading {
    animation-duration: 0.5s;
    &--out {
      animation-delay: 2.8s;
      animation-name: fadeOut;
    }
  }
}
