.main-content {
  background: url(../img/calculator/cacu_bg_all.png);
  background-size: 500px 500px;
  background-repeat: repeat;
  overflow: hidden;
  position: relative;
  z-index: 2;
  &::after {
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #fbfbfb, white);
    display: block;
    z-index: -1;
  }
}
.l-guide {
  position: relative;
  padding: 50px 0 100px;
  .container {
    position: relative;
    width: 100%;
    margin-left: 0;
    padding: 0;
    max-width: 100%;
    @media screen and (max-width: $md) {
      padding: 0 15px;
      max-width: 540px;
      margin: auto;
    }
  }
  &::before {
    position: absolute;
    content: '';
    background: url(../img/calculator/guide_deco.png) no-repeat;
    width: 800px;
    height: 502px;
    top: 0;
    right: 0;
    opacity: 0.75;
    transform: translateY(-44%);
    z-index: -1;
  }
  @media screen and (max-width: $xxl) {
    padding: 50px 0;
  }
  @media screen and (max-width: $md) {
    padding: 20px 0 60px;
  }
}
.right_cont {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  @media screen and (max-width: $xl) {
    flex-direction: column-reverse;
    align-items: center;
  }
  &__pic {
    width: 50%;
    border-radius: 0 0 200px 0;
    overflow: hidden;
    @media screen and (max-width: $xl) {
      border-radius: 0;
      width: 100%;
      opacity: 0.5;
      max-height: 80vh;
    }
    @media screen and (max-width: $md) {
      max-height: initial;
      opacity: 1;
      padding-top: 30px;
    }
  }
  &__text-box {
    width: 50%;
    padding-right: calc((100% - 1320px) / 2);
    padding-left: 80px;
    @media screen and (max-width: $xxl) {
      padding-right: calc((100% - 1140px) / 2);
    }
    @media screen and (max-width: $xl) {
      width: 80%;
      padding: 50px;
      position: absolute;
      background: rgb(255 255 255 / 95%);
      box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 11%);
    }
    @media screen and (max-width: $lg) {
      padding: 30px 30px;
    }
    @media screen and (max-width: $md) {
      width: 100%;
      position: relative;
      background: transparent;
      box-shadow: none;
      padding: 0;
    }
    &--text {
      p {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 1.5px;
        color: $color--gray3;
        font-weight: 300;
        @media screen and (max-width: $xxl) {
          font-size: 15px;
        }
      }
    }
    .model__head {
      border-left: 1px solid rgba(107, 156, 102, 0.6);
      padding-left: 35px;
      position: relative;
      ::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 30px;
        left: 0px;
        top: 0px;

        background: $color--primary;
      }
    }
  }
}

.l-description {
  position: relative;
  .container {
    display: flex;
    flex-direction: row;
  }
  .model__head {
    margin-bottom: 20px;
  }
}
.des-left {
  width: 70%;
  @media screen and (max-width: $xxl) {
    width: 75%;
  }
  @media screen and (max-width: $xl) {
    width: 100%;
  }
  p {
    line-height: 2;
    letter-spacing: 1.5px;
    color: $color--gray3;
    font-weight: 300;
  }
  &__top {
    padding-right: 12.5rem;
    padding-bottom: 60px;
    .model__head--subtitle {
      line-height: 2.25rem;
    }
    p {
      font-size: 16px;
      @media screen and (max-width: $xxl) {
        font-size: 15px;
      }
    }
    @media screen and (max-width: $xxl) {
      padding-right: 80px;
    }
    @media screen and (max-width: $xl) {
      padding-right: 200px;
    }
    @media screen and (max-width: $md) {
      padding-right: 0px;
    }
  }
  &__bottom {
    display: flex;
    padding: 60px 0;
    z-index: 1;
    @media screen and (max-width: $xxl) {
      flex-direction: column;
    }
    @media screen and (max-width: $xl) {
      flex-direction: row;
      gap: 50px;
    }
    @media screen and (max-width: $lg) {
      flex-direction: column;
      gap: 0px;
    }
    p {
      font-size: 15px;
    }
    .text-box {
      width: 50%;
      padding-right: 80px;
      .model__head--title {
        font-size: 1.6rem;
        @media screen and (max-width: $md) {
          font-size: 20px;
        }
      }
      @media screen and (max-width: $xxl) {
        width: 100%;
        padding-bottom: 40px;
        padding-right: 0px;
      }
    }
    &::before {
      content: '';
      width: 300%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0%;
      transform: translateX(-40%);
      background: rgba(149, 176, 107, 0.15);
      z-index: -1;
    }
  }
}

.des-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  z-index: 2;
  @media screen and (max-width: $xxl) {
    bottom: auto;
    top: 0;
  }
  @media screen and (max-width: $md) {
    display: none;
  }
  &__deco {
    position: absolute;
    width: 150px;
    transform: translate(-20%, -25%);
    &::before {
      content: '';
      width: 300px;
      height: 300px;
      background: url(../img/common/illustration/logo--deco-txt.svg);
      -webkit-animation: rotate_ 22s linear infinite;
      animation: rotate_ 22s linear infinite;
      display: block;
      position: absolute;
      left: -50%;
      top: -50%;
    }
    @media screen and (max-width: $xxl) {
      transform: translate(100%, -275%);
      width: 100px;
      &::before {
        width: 200px;
        height: 200px;
      }
    }
    @media screen and (max-width: $xl) {
      transform: translate(100%, 60%);
    }
    @media screen and (max-width: $lg) {
      transform: translate(60%, 65%);
    }
  }
  &__img {
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    border-radius: 160px 0 0 0;
    max-height: 80vh;
    @media screen and (max-width: $xl) {
      display: none;
    }
    img {
      width: 100%;
      max-width: none;
      height: 100%;
    }
  }
}

@-webkit-keyframes rotate_ {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate_ {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.l-calculator {
  padding-top: 100px;
  .calculator__form {
    background: $color--light;
    padding: 64px 80px;
    // border: 1px solid $color--gray5;
    box-shadow: 0px 4px 25px 5px rgba(196, 209, 195, 0.15);
    border-radius: 80px;
    width: 80%;
    margin: auto;
    .form-group {
      margin-bottom: 20px;
    }
    &--btn {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      button {
        width: 200px;
      }
    }
    .css-ahj2mt-MuiTypography-root {
      font-family: 'Noto Sans TC', sans-serif;
      color: $color--gray3;
      font-weight: 300;
      letter-spacing: 1.5px;
      @media screen and (max-width: $sm) {
        font-size: 14px;
        line-height: 1.5;
      }
    }
    @media screen and (max-width: $xxl) {
      width: 100%;
    }
    @media screen and (max-width: $lg) {
      border-radius: 50px;
      padding: 50px 50px;
    }
    @media screen and (max-width: $sm) {
      border-radius: 25px;
      padding: 40px 20px;
    }
  }
  .explan {
    padding: 80px 0;
    position: relative;
    z-index: 1;
    margin-top: 100px;
    .container {
      max-width: 80%;
    }
    &::before {
      content: '';
      width: 48%;
      height: 100%;
      background: $color--analogous2;
      display: block;
      position: absolute;
      top: 0;
      border-radius: 200px 0px 0 0px;
      z-index: -1;
    }
    &__title {
      h4 {
        font-weight: 500;
        font-size: 1.375rem;
        line-height: 2.25rem;
        letter-spacing: 3px;
        color: $color--light;
      }
      p {
        font-weight: 500;
        font-size: 15px;
        line-height: 2rem;
        letter-spacing: 3px;
        color: $color--gray6;
        margin-top: 20px;
      }
    }
    &__text {
      p {
        font-size: 14px;
        line-height: 2rem;
        color: $color--gray3;
        letter-spacing: 2px;
      }
      span {
        font-size: 12px;
        line-height: 2rem;
        text-align: right;
        letter-spacing: 2px;
        display: block;
        color: $color--gray4;
        margin-top: 15px;
      }
    }
    @media screen and (max-width: $xxl) {
      &::before {
        width: 50%;
      }
      &__text {
        padding-left: 50px;
      }
    }
    @media screen and (max-width: $xl) {
      &::before {
        width: 100%;
        border-radius: 100px 100px 0px 0px;
      }
      &__title {
        text-align: center;
      }
      &__text {
        padding-left: 0px;
        padding-top: 50px;
        p {
          color: $color--gray6;
        }
        span {
          color: $color--gray6;
        }
      }
    }
    @media screen and (max-width: $sm) {
      padding: 50px 0;
      &.container {
        max-width: initial;
      }
      &::before {
        border-radius: 3.125rem 3.125rem 0 0;
      }
      &__title {
        text-align: left;
      }
    }
  }
}
.l-recommenedGood {
  padding: 100px 0;
  background: $color--light;
  border-top: 1px solid $color--gray6;
}

br.model_br {
  display: none;
  @media screen and (max-width: $xxl) {
    display: inline-block;
  }
  @media screen and (max-width: $xl) {
    display: none;
  }
  @media screen and (max-width: $lg) {
    display: none;
  }
  @media screen and (max-width: $md) {
    display: none;
  }
  @media screen and (max-width: $sm) {
    display: none;
  }
}
