.label_fs {
  font-size: 0.5rem;
}
.box {
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: $color--primary;
  }
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: $color--primary;
  }
}
