.mobileCartItem {
  &__tbody {
    display: grid;
    justify-items: start;
    align-content: flex-start;
    grid-template-columns: 30% 3% 50% 15% 2%;
    grid-template-rows: 20% 40% 40%;
    margin-bottom: 1rem;
  }
  &__cover {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    border-radius: $border-radius__block;
    overflow: hidden;
    margin-right: 0.5rem;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__name {
    @include text--normal-bold;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: start;
    margin-bottom: 1rem;
  }
  &__price {
    @include text--medium;
    color: $color--primary;
    align-self: center;
    justify-self: start;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &__qty_btn {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    place-self: start;
    align-self: end;
  }
  &__del_btn {
    align-self: center;
    justify-self: end;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &__total {
    @include text--large-bold;
    color: $color--secondary;
    place-self: end;
    align-self: end;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

//rwd
@media screen and (max-width: $lg) {
  .mobileCartItem {
    &__tbody {
      display: grid;
      justify-items: start;
      align-content: flex-start;
      grid-template-columns: 30% 3% 50% 15% 2%;
      grid-template-rows: 20% 40% 40%;
      margin-bottom: 1.5rem;
    }
    &__cover {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 4;
      width: 100%;
      height: 100%;
      border-radius: $border-radius__block;
      overflow: hidden;
      margin-right: 0.5rem;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__name {
      @include text;
      font-weight: 500;
      font-size: 1.5rem;
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
      align-self: start;
      margin-bottom: 1rem;
    }
    &__total {
      @include text;
      font-weight: 500;
      font-size: 1.75rem;
      color: $color--secondary;
      place-self: end;
      justify-self: end;
      align-self: end;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
}
