.cartItem {
  height: 42vh;
  overflow-y: auto;
  padding-right: 0.5rem;
  &__thead {
    display: grid;
    justify-items: start;
    align-content: flex-start;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: $color--gray7;
    border-radius: 0.5rem;
    padding: 0.5rem 0.25rem;
    margin-bottom: 1rem;
  }
  &__tbody {
    display: grid;
    justify-items: start;
    align-content: flex-start;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 1rem;
  }
  &__cover {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 90%;
    height: 8rem;
    border-radius: $border-radius__block;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__name {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  &__price {
    grid-column-start: 3;
    grid-column-end: 4;
    place-self: center;
    @media screen and (max-width: $lg) {
      place-self: start;
    }
  }
  &__qty_btn {
    place-self: center;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  &__total {
    place-self: center;
    grid-column-start: 5;
    grid-column-end: 6;
  }
  &__del_btn {
    place-self: center;
    grid-column-start: 6;
    grid-column-end: 7;
  }

  @include scrollbar;
}

//rwd
@media screen and (max-width: $xl) {
  .cartItem {
    &__cover {
      grid-column-start: 1;
      grid-column-end: 2;
      width: 90%;
      height: 6rem;
      border-radius: $border-radius__block;
      overflow: hidden;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: $lg) {
  .cartItem {
    &__thead {
      display: none;
    }
    &__tbody {
      display: grid;
      justify-items: start;
      align-content: flex-start;
      grid-template-columns: 30% 20% 20% 20% 10%;
      grid-template-rows: 1fr 1fr;
    }
    &__cover {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      width: 90%;
      height: 9rem;
      border-radius: $border-radius__block;
      overflow: hidden;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__name {
      @include text--large-bold;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      align-self: end;
    }
    &__price {
      @include text--medium;
      color: $color--primary;
      align-self: start;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    &__qty_btn {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
      place-self: center;
      align-self: center;
    }
    &__del_btn {
      align-self: center;
      justify-self: end;
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    &__total {
      @include text--large-bold;
      color: $color--secondary;
      place-self: center;
      align-self: center;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}

@media screen and (max-width: $md) {
  .cartItem {
    &__thead {
      display: none;
    }
    &__tbody {
      display: grid;
      justify-items: start;
      align-content: flex-start;
      grid-template-columns: 30% 20% 20% 20% 10%;
      grid-template-rows: 1fr 1fr;
    }
    &__cover {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      width: 90%;
      height: 9rem;
      border-radius: $border-radius__block;
      overflow: hidden;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__name {
      @include text--medium-bold;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      align-self: end;
    }
    &__price {
      @include text--normal;
      color: $color--primary;
      align-self: start;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    &__qty_btn {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
      place-self: center;
      align-self: center;
    }
    &__del_btn {
      align-self: center;
      justify-self: end;
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    &__total {
      @include text--large-bold;
      color: $color--secondary;
      place-self: center;
      align-self: center;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}

@media screen and (max-width: $sm) {
  .cartItem {
    &__thead {
      display: none;
    }
    &__tbody {
      display: grid;
      justify-items: start;
      align-content: flex-start;
      grid-template-columns: 30% 60% 10%;
      grid-template-rows: 1fr 1fr 1fr;
    }
    &__cover {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 4;
      width: 90%;
      height: 7rem;
      border-radius: $border-radius__block;
      overflow: hidden;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__name {
      @include text--large-bold;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      align-self: start;
    }
    &__price {
      @include text--medium;
      color: $color--primary;
      align-self: start;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    &__qty_btn {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      place-self: start;
      align-self: end;
    }
    &__del_btn {
      align-self: start;
      justify-self: end;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    &__total {
      @include text--large-bold;
      color: $color--secondary;
      place-self: end;
      align-self: end;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
}
