.l-navbar {
  $_: &;
  width: 100%;
  height: $height__navbar;

  border-radius: $border-radius__navbar;
  background: $color--primary;
  box-shadow: $box-shadow__navbar;

  display: flex;
  align-items: center;

  position: relative;
  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &--desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #{$_}__items {
      display: flex;
      align-items: center;
    }
    #{$_}__actions {
      display: flex;
      align-items: center;
    }
    #{$_}__item {
      padding: 0.75rem 0;
      margin-right: 1rem;
    }
    #{$_}__btn {
      &:last-of-type {
        #{$_}__icon {
          margin: 0;
        }
      }
    }
  }
  #{$_}__logo {
    width: max-content;
    height: 2.25rem;
    margin-right: 2.5rem;

    transition: $transition;
    opacity: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__font {
    color: $color--light;

    display: inline-block;
    transition: $transition;
    &:hover {
      color: $color--warning;
    }
  }
  &__icon {
    width: $size__icon-btn;
    height: $size__icon-btn;
    padding: 0.625rem;
    margin-right: 0.5rem;

    color: $color--light;
    font-size: 1.3rem;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      width: $size__icon;
      height: $size__icon;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  &--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    #{$_}__menu {
      height: 100%;
      width: 100%;

      background: $color--primary;
      border-radius: $border-radius__navbar;

      transition: all 0.6s ease-in-out;

      position: fixed;
      top: calc(-100% + $height__navbar);
      left: 0;

      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    #{$_}__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      transition: all 0.6s ease-in-out;
      opacity: 0;
      transform: translate3d(0, -10%, 0);
    }
    #{$_}__check {
      &:checked {
        & ~ #{$_}__menu {
          top: 0;
          border-radius: 0;
        }
        & ~ #{$_}__logo {
          opacity: 0;
        }
        & ~ #{$_}__menu #{$_}__list {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
    #{$_}__toggle {
      position: absolute;
      z-index: 2;
      top: 1.125rem;
      right: 1.5rem;
    }
    #{$_}__font {
      z-index: 2;
    }
    #{$_}__item {
      padding: 0.625rem;
      margin: 0 2.5rem 1rem 0;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    #{$_}__btn {
      display: flex;
      align-items: center;
    }
    #{$_}__icon {
      padding: 0;
      margin-left: 0.25rem;
      &--inline {
        width: max-content;
        height: max-content;
      }
    }
  }
}

.e-tag {
  width: 1.2rem;
  height: 1.2rem;

  background: $color--secondary;
  border-radius: 50%;
  @include text--small-bold;
  color: $color--light;

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.e-hr {
  width: 10rem;
  height: $height__line !important;
  margin: 0;
  background: $color--secondary;

  opacity: 1;
}

.l-header {
  padding: 2.5rem 0;
  &__title {
    width: 100%;
    height: max-content;
    padding-bottom: 0.5rem;

    border-bottom: 0.125rem solid $color--gray5;

    display: flex;
    align-items: center;

    position: relative;
    &::before {
      content: "";
      width: 25%;
      height: $height__line;
      background: $color--secondary;

      position: absolute;
      left: 0;
      bottom: -0.125rem;
    }
  }
  &__text {
    margin-left: 1rem;
  }
}

.c-breadcrumb {
  $_: &;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  &__list {
    display: flex;
  }
  &__item {
    &:first-of-type {
      margin-right: 0;
      #{$_}__link::before {
        content: "";
        display: none;
      }
    }
  }
  &__link {
    margin-right: 1.5rem;

    @include text--small;
    color: $color--gray3;

    @include interaction__link;

    position: relative;
    display: inline-block;

    &::before {
      width: $size__icon--small;
      height: $size__icon--small;

      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f105";
      color: $color--gray4;
      font-size: 1.5rem;

      position: absolute;
      top: 50%;
      left: -0.5rem;
      transform: translate(-50%, -50%);
    }
    &.active {
      color: $color--active;
      &:hover {
        color: $color--active;
      }
    }
  }
}

.e-icon {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  &--left {
    margin-right: 0.25rem;
  }
  &--primary {
    color: $color--primary;
  }
  &--secondary {
    color: $color--secondary;
  }
}

.l-footer {
  width: 100%;
  height: max-content;
  padding: 1.5rem 0;

  background: $color--primary;
  border-radius: 8rem 8rem 0 0;
  @media screen and (max-width: $lg) {
    border-radius: $border-radius__footer;
  }
  &__item {
    padding: 0.5rem 0;

    @include h6;
    color: $color--light;
    font-size: 0.875rem;
    &--muted {
      opacity: 0.7;
    }
  }
  &__link {
    @include h6;
    color: $color--light;
    transition: $transition;
    font-size: 0.875rem;
    &:hover {
      color: $color--secondary;
    }
  }
  &__logo {
    width: max-content;
    height: 4rem;
    @media screen and (max-width: $lg) {
      height: 2.5rem;
    }
  }
  &__btn {
    width: max-content;
    height: max-content;
    margin-right: 0.75rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &:last-of-type {
      margin-right: 0;
    }
  }
  &__icon {
    width: max-content;
    height: max-content;

    color: $color--light;
    font-size: 2.5rem;
  }
}
