.l-navbar {
  $_: &;
  width: 100%;
  height: $height__navbar;

  border-radius: $border-radius__navbar;
  background: $color--primary;
  box-shadow: $box-shadow__navbar;

  display: flex;
  align-items: center;

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &--desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #{$_}__items {
      display: flex;
      align-items: center;
    }
    #{$_}__actions {
      display: flex;
      align-items: center;
    }
    #{$_}__item {
      padding: 0.75rem 0;
      margin-right: 1rem;
    }
    #{$_}__btn {
      &:last-of-type {
        #{$_}__icon {
          margin: 0;
        }
      }
    }
  }
  #{$_}__logo {
    width: max-content;
    height: 2.25rem;
    margin-right: 2.5rem;

    transition: $transition;
    opacity: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media screen and (max-width: $md) {
      margin-right: 0;
    }
  }
  &__font {
    color: $color--light;

    display: inline-block;
    transition: $transition;
    &:hover {
      color: $color--warning;
    }
  }
  &__icon {
    width: $size__icon-btn;
    height: $size__icon-btn;
    padding: 0.625rem;
    margin-right: 0.5rem;

    color: $color--light;
    font-size: 1.3rem;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      width: $size__icon;
      height: $size__icon;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  &--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    #{$_}__menu {
      height: 100%;
      width: 100%;

      background: $color--primary;
      border-radius: $border-radius__navbar;

      transition: $transition__navbar-menu;

      position: fixed;
      top: calc(-100% + $height__navbar);
      left: 0;

      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    #{$_}__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      transition: $transition__navbar-menu;
      opacity: 0;
      transform: translate3d(0, -10%, 0);
    }
    #{$_}__check {
      &:checked {
        & ~ #{$_}__menu {
          top: 0;
          border-radius: 0;
        }
        & ~ #{$_}__logo {
          opacity: 0;
        }
        & ~ #{$_}__menu #{$_}__list {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
    #{$_}__toggle {
      position: absolute;
      z-index: 2;
      top: 1.125rem;
      right: 1.5rem;
    }
    #{$_}__font {
      z-index: 2;
    }
    #{$_}__item {
      padding: 0.625rem;
      margin: 0 2.5rem 1rem 0;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    #{$_}__btn {
      display: flex;
      align-items: center;
    }
    #{$_}__icon {
      padding: 0;
      margin-left: 0.25rem;
      &--inline {
        width: max-content;
        height: max-content;
      }
    }
  }
}

.e-tag {
  background: $color--secondary;

  @include text--extra-small;
  color: $color--light;

  display: flex;
  justify-content: center;
  align-items: center;
  &--corner {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    @include text--small-bold;
    color: $color--light;

    position: absolute;
    top: 0;
    right: 0;
  }
  &--normal {
    width: max-content;
    height: max-content;
    padding: 0.25rem 0.75rem;
    border-radius: 10rem;
  }
  &--floating {
    position: absolute;

    top: 25%;
    bottom: auto;
    left: 65%;
    right: auto;
    transform: translate(-50%, -50%);
    @media screen and (min-width: $md) {
      top: 40%;
      left: 80%;
    }
  }
}

.e-hr {
  height: $height__line !important;
  margin: 0;
  opacity: 1;
  &--navbar {
    width: 10rem;
    background: $color--secondary;
  }
  &--divider {
    width: 100%;
    background: $color--gray5;
  }
}

.l-header {
  padding: 2.5rem 0;
  &__title {
    width: 100%;
    height: max-content;
    padding-bottom: 0.5rem;

    border-bottom: 0.125rem solid $color--gray5;

    display: flex;
    align-items: center;

    position: relative;
    &::before {
      content: '';
      width: 25%;
      height: $height__line;
      background: $color--secondary;

      position: absolute;
      left: 0;
      bottom: -0.125rem;
      @media screen and (max-width: $sm) {
        width: 60%;
      }
    }
  }
  &__text {
    margin-left: 1rem;
  }
}

.c-breadcrumb {
  $_: &;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  &__list {
    display: flex;
  }
  &__item {
    &:first-of-type {
      margin-right: 0;
      #{$_}__link::before {
        content: '';
        display: none;
      }
    }
  }
  &__link {
    margin-right: 1.5rem;

    @include text--small;
    color: $color--gray3;

    @include interaction__link;

    position: relative;
    display: inline-block;

    &::before {
      width: $size__icon--small;
      height: $size__icon--small;

      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f105';
      color: $color--gray4;

      top: 50%;
      left: -0.6rem;
      transform: translate(-50%, -50%);
    }
    &.active {
      color: $color--active;
      &:hover {
        color: $color--active;
      }
    }
  }
}

.e-icon {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  &--left {
    margin-right: 0.25rem;
  }
  &--left-large {
    margin-right: 0.5rem;
  }
  &--primary {
    color: $color--primary;
  }
  &--secondary {
    color: $color--secondary;
  }
  &--btn {
    font-size: 1.5rem;
  }
}

.l-footer {
  width: 100%;
  height: max-content;
  padding: 1.5rem 0;
  margin-top: 2.5rem;

  background: $color--primary;
  border-radius: 8rem 8rem 0 0;
  @media screen and (max-width: $lg) {
    border-radius: $border-radius__footer;
  }
  &__item {
    padding: 0.5rem 0;

    @include h6;
    color: $color--light;
    font-size: 0.875rem;

    z-index: 0;
    &--muted {
      opacity: 0.7;
    }
  }
  &__link {
    @include h6;
    color: $color--light;
    transition: $transition;
    font-size: 0.875rem;
    &:hover {
      color: $color--secondary;
    }
  }
  &__logo {
    width: max-content;
    height: 4rem;
    @media screen and (max-width: $lg) {
      height: 2.5rem;
    }
  }
  &__btn {
    width: max-content;
    height: max-content;
    margin-right: 0.75rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &:last-of-type {
      margin-right: 0;
    }
  }
  &__icon {
    width: max-content;
    height: max-content;

    color: $color--light;
    font-size: 2.5rem;
  }
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.model {
  position: relative;
  &__head {
    margin-bottom: 35px;
    &--deco-text {
      font-size: 1.5rem;
      line-height: 1;
      letter-spacing: 10px;
      color: rgba(107, 156, 102, 0.2);
      margin-bottom: 15px;
      @media screen and (max-width: $xxl) {
        font-size: 1.2rem;
        letter-spacing: 8px;
      }
      @media screen and (max-width: $sm) {
        font-size: 16px;
        letter-spacing: 5px;
        margin-bottom: 10px;
      }
    }
    &--title {
      font-size: 2rem;
      font-weight: bold;
      line-height: 3rem;
      letter-spacing: 3px;
      color: $color--primary;
      @media screen and (max-width: $xxl) {
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
      @media screen and (max-width: $sm) {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 600;
      }
    }
    &--subtitle {
      font-size: 1.125rem;
      letter-spacing: 3px;
      line-height: 1.6rem;
      color: #555555;
      margin-top: 10px;
      font-weight: 500;
      @media screen and (max-width: $xxl) {
        font-size: 1.1rem;
        line-height: 1.6rem;
      }
      @media screen and (max-width: $sm) {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 2px;
      }
    }
    &--sec {
      text-align: center;
      position: relative;
      &::before {
        content: '';
        width: 1px;
        height: 85px;
        background: rgba(107, 156, 102, 0.6);
        position: absolute;
        left: 50%;
        transform: translate(-1px, calc(-100% - 15px));
      }
      &::after {
        content: '';
        width: 5px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: 0;
        background: #6b9c66;
        transform: translate(calc(-50% - 1px), calc(-100% - 15px));
      }
    }
  }
}
.l-footer {
  width: 100%;
  height: max-content;
  padding: 1.5rem 0;

  background: $color--primary;
  border-radius: 8rem 8rem 0 0;
  @media screen and (max-width: $lg) {
    border-radius: $border-radius__footer;
  }
  &__item {
    padding: 0.5rem 0;

    @include h6;
    color: $color--light;
    font-size: 0.875rem;
    &--muted {
      opacity: 0.7;
    }
  }
  &__link {
    @include h6;
    color: $color--light;
    transition: $transition;
    font-size: 0.875rem;
    &:hover {
      color: $color--secondary;
    }
  }
  &__logo {
    width: max-content;
    height: 4rem;
    @media screen and (max-width: $lg) {
      height: 2.5rem;
    }
  }
  &__btn {
    width: max-content;
    height: max-content;
    margin-right: 0.75rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &:last-of-type {
      margin-right: 0;
    }
  }
  &__icon {
    width: max-content;
    height: max-content;

    color: $color--light;
    font-size: 2.5rem;
  }
}

.c-pageBanner {
  .carousel-item.active {
    animation: move 2s ease-in-out alternate;
    transform: scale(1);
  }
}
@keyframes move {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.c-floating-icon {
  $_: &;
  z-index: 1;
  &--member {
    @media screen and (max-width: $lg) {
      width: 100%;
      height: 10rem;

      background: $color--gradient;

      position: fixed;
      left: 0;
      bottom: 0;
      #{$_}__btn {
        width: $diameter__floating-icon;
        height: $radius__floating-icon;

        border-top-left-radius: $radius__floating-icon;
        border-top-right-radius: $radius__floating-icon;
        background: $color--primary;
        border: none;
        box-shadow: $box-shadow--active;

        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &--product {
    width: 100%;
    height: 10rem;

    background: $color--gradient;

    position: fixed;
    left: 0;
    bottom: 0;
    @media screen and (min-width: $lg) {
      width: max-content;
      height: max-content;

      background: transparent;

      top: 50%;
      left: auto;
      right: $radius__floating-icon;
      bottom: auto;
      transform: translateY(-50%);
    }
    #{$_}__btn {
      width: $diameter__floating-icon;
      height: $radius__floating-icon;

      border-top-left-radius: $radius__floating-icon;
      border-top-right-radius: $radius__floating-icon;
      background: $color--primary;
      border: none;
      box-shadow: $box-shadow--active;

      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);

      display: flex;
      justify-content: center;
      align-items: center;

      @include cursor(pointer);
      @media screen and (min-width: $lg) {
        width: $radius__floating-icon;
        height: $diameter__floating-icon;

        border-top-left-radius: $radius__floating-icon;
        border-bottom-left-radius: $radius__floating-icon;
        border-top-right-radius: 0;

        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
  &__icon {
    font-size: 2rem;
    color: $color--light;
  }
}

.c-floating-menu {
  $_: &;
  position: fixed;
  z-index: 1030;

  width: 100vw;
  height: 100vh;

  bottom: 0;
  left: 0;
  &--member {
    #{$_}__content {
      @media screen and (max-width: $lg) {
        width: 100%;
        height: max-content;
        padding: 1rem;

        background: $color--light;
        box-shadow: $box-shadow__block;
        border-radius: $border-radius__block;

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }
  }
  &--product {
    #{$_}__content {
      width: 100%;
      height: $height__floating-menu;
      padding: 1rem;

      background: $color--light;
      box-shadow: $box-shadow__block;
      border-radius: $border-radius__block;

      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      @media screen and (min-width: $lg) {
        width: $width__floating-menu;
        height: $height__floating-menu;

        top: 50%;
        left: auto;
        right: $radius__floating-icon + 1rem;
        bottom: auto;
        transform: translateY(-50%);
      }
    }
  }
  &__bg {
    width: 100%;
    height: 100%;

    background: transparent;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.c-fav-btn {
  $_: &;
  background: $color--light;
  border: none;

  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;

  transition: $transition;
  &__icon {
    color: $color--gray5;
    cursor: pointer;
  }
  &__text {
    margin-left: 0.25rem;
    @include text--small;
    @include cursor(pointer);
  }
  &--medium {
    width: 2.75rem;
    height: 2.75rem;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    border-radius: 0 0.625rem 0 1.875rem;
    #{$_}__icon {
      font-size: 1.5rem;
    }
  }
  &--large {
    width: 3.75rem;
    height: 3.75rem;
    background: transparent;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    #{$_}__icon {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: $md) {
    width: 2rem;
    height: 2rem;

    border-radius: 0 0.625rem 0 1rem;

    align-items: center;
    #{$_}__icon {
      font-size: 1.25rem;
    }
  }
  &--icon-text {
    width: max-content;

    display: flex;
    align-items: center;

    right: 0.75rem;
    @media screen and (max-width: $md) {
      width: max-content;
      top: 0.5rem;
      right: 0;
    }
  }
  &.active {
    #{$_}__icon {
      color: $color--error;
      box-shadow: none;
      &::before {
        filter: drop-shadow($box-shadow__icon);
      }
    }
  }
}

.c-counter {
  $_: &;
  width: 100%;
  height: $height__input;

  background: $color--gray6;
  border-radius: $border-radius__input;

  display: flex;
  align-items: center;
  justify-content: space-between;
  &__btn {
    padding: 0 0.625rem;
    background: transparent;
    border: none;
    #{$_}__icon {
      color: $color--primary;
      font-size: 1.25rem;
    }
  }
  @media screen and (max-width: $md) {
    #{$_}__icon {
      font-size: 0.875rem;
    }
  }
}
