.couponStatusBar {
  width: 55%;

  .couponStatus {
    display: flex;
    padding: 0;

    .canGet,
    .canUse,
    .expired {
      font-size: 1.5rem;
      padding: 1rem 1.5rem;
      cursor: pointer;
      border-bottom: 1px solid $color--gray4;
      color: $color--gray4;
    }

    .active {
      border-bottom: 1px solid $color--primary;
      color: $color--primary;
    }
  }
}

.coupons {
  padding-top: 1.5rem;

  .couponWrapper {
    width: 100%;
    background-color: $color--gray4;
    border-radius: 0.625rem;
    padding: 1rem 0 2rem 0;
    position: relative;

    .coupon {
      width: 85%;
      margin: 0 auto;
      text-align: center;

      .remain-coupon {
        position: absolute;
        top: 5%;
        left: 85%;
        transform: translate(-50%, -50%);
        width: 5.93rem;
        height: 2.5rem;
        background-color: $color--secondary;
        color: $color--light;
        padding: 0.75rem 0.3rem;
        border-radius: 0.3125rem;
        font-size: 0.9rem;
        box-shadow: $box-shadow__icon;
      }

      .coupon-detail {
        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        // padding: 0.5rem 0;

        .coupon-amount {
          display: flex;
          color: $color--light;
          padding-right: 0.5rem;

          i {
            align-self: center;
            padding: 0 0.25rem;
            font-weight: 700;
            font-size: 1.5rem;
          }

          p {
            margin: 0;
            font-weight: 700;
            font-size: 1.5rem;
          }
        }

        .sperate-line {
          width: 1px;
          height: 100%;
          background-color: $color--light;
        }

        .coupon-statement {
          text-align: start;
          color: $color--light;
          line-height: 1.5;
          padding-left: 0.5rem;

          .coupon-title {
            display: block;
            margin-bottom: 0.5rem;
            color: $color--light;
          }

          .coupon-period {
            @include text--extra-small;
            color: $color--gray5;
            margin-bottom: 0;
          }
        }
      }

      .couponBtn {
        width: 100%;
        background-color: $color--light;
        color: $color--gray5;
        padding: 0.1rem 0;
        margin: 0 auto;
        line-height: 2;
        border: 1px solid transparent;
        border-radius: 0.625rem;
      }
    }
  }

  .couponWrapper1 {
    width: 100%;
    background-color: $color--info;
    border-radius: 0.625rem;
    padding: 1.5rem 0;
    position: relative;

    .coupon {
      width: 85%;
      margin: 0 auto;
      text-align: center;

      .remain-coupon {
        @include text--extra-small;
        position: absolute;
        top: -5%;
        right: 0.5rem;
        width: 5.93rem;
        height: 2.5rem;
        background-color: $color--secondary;
        color: $color--light;
        border-radius: 0.3125rem;
        box-shadow: $box-shadow__icon;
      }

      .coupon-amount {
        @include h4;
        color: $color--light;

        i {
          align-self: center;
          padding: 0 0.25rem;
          font-weight: 700;
          font-size: 1.5rem;
        }

        p {
          margin: 0;
          font-weight: 700;
          font-size: 1.5rem;
        }
        @media screen and (max-width: $lg) {
          @include h5;
          color: $color--light;
        }
        @media screen and (max-width: $md) {
          @include h4;
          color: $color--light;
        }
      }

      .sperate-line {
        width: 1px;
        height: 100%;
        background-color: $color--light;
      }

      .coupon-statement {
        text-align: start;
        color: $color--light;
        line-height: 1.5;

        .coupon-title {
          display: block;
          margin-bottom: 0.5rem;
          color: $color--light;
        }

        .coupon-period {
          @include text--extra-small;
          color: $color--gray5;
          margin-bottom: 0;
        }
      }

      .couponBtn1 {
        width: 100%;
        background-color: $color--light;
        color: $color--info;
        padding: 0.1rem 0;
        margin: 0 auto;
        line-height: 2;
        border: 1px solid transparent;
        border-radius: 0.625rem;
        @include interaction__btn;
      }
    }
  }
}

/* Tablet version */
@media screen and (max-width: 991px) {
  .couponStatusBar {
    width: 100%;
  }

  .coupons {
    .couponWrapper {
      height: 100%;

      .coupon {
        .coupon-detail {
          display: block;
        }
      }
    }

    .couponWrapper1 {
      height: 100%;

      .coupon {
        .coupon-detail {
          display: block;
        }
      }
    }
  }
}

/* Mobile version */
@media screen and (max-width: 767px) {
  .couponStatusBar {
    .couponStatus {
      justify-content: center;

      .canGet,
      .canUse,
      .expired {
        font-size: 1rem;
      }
    }
  }
}
