.l-dietlog {
  $_: &;
  width: 100%;
  height: max-content;
  min-height: 90vh;
  margin-bottom: 2.5rem;
  &__list {
    height: max-content;
    min-height: 50vh;
  }
  &__sidebar {
    position: sticky;
    top: $height__navbar + 2.5rem;
  }
  &__icon {
    color: $color--primary;
  }
  .react-calendar {
    $_: &;
    &__tile {
      height: $height__calendar;
      padding: 2.5rem 0;

      @include clear__btn;

      display: flex;
      align-items: center;
      justify-content: center;

      abbr {
        width: $height__calendar;
        height: $height__calendar;

        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: $transition;
        &:hover {
          background: $color--gray6;
        }
      }
      &--now {
        abbr {
          color: $color--light;
          background: $color--primary;
          @include interaction__btn;
        }
      }
      &--active {
        abbr {
          color: $color--font;
          background: $color--secondary;
          @include interaction__btn;
        }
      }
    }
    &__navigation {
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &__label {
        @include clear__btn;

        @include text--normal-bold;
        color: $color--primary;

        @include cursor(pointer);
      }
      &__next-button {
        &::before {
          @include icon--absolute("\f105");
        }
      }
      &__next2-button {
        &::before {
          @include icon--absolute("\f101");
        }
      }
      &__prev-button {
        &::before {
          @include icon--absolute("\f104");
        }
      }
      &__prev2-button {
        &::before {
          @include icon--absolute("\f100");
        }
      }
      &__arrow {
        width: $size__icon-btn;
        height: $size__icon-btn;

        @include clear__btn;
        border-radius: 50%;

        transition: $transition;

        position: relative;
        &::before {
          color: $color--primary;
          font-size: 1rem;

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include interaction__link;
        }
        &:hover {
          background: $color--opacity;
        }
      }
    }
    &__month-view {
      &__weekdays {
        &__weekday {
          height: $height__calendar;

          display: flex;
          justify-content: center;
          align-items: center;
          abbr {
            color: $color--gray3;
            text-decoration: none;
            cursor: default;
          }
        }
      }
      &__days {
        &__day {
          &--neighboringMonth {
            color: $color--gray4;
          }
        }
      }
    }
    &__year-view {
      &__months {
        justify-content: space-around;
        &__month {
          border-radius: $border-radius__btn;
        }
      }
    }
  }
  &__accordion {
    margin-bottom: 1.5rem;

    border: none;
  }
  &__card {
    width: 100%;
    height: max-content;
    padding: $padding__card;

    border: none;
    border-radius: $border-radius__block;

    transition: $transition;

    @include cursor(pointer);
    &:hover {
      box-shadow: $box-shadow__card--active;
    }
    &:focus,
    &:active {
      outline: none;
    }
    &--breakfast {
      background: $color__bg--secondary;
    }
    &--lunch {
      background: $color__bg--error;
    }
    &--dinner {
      background: $color__bg--hover;
    }
    &--others {
      background: $color__bg--analogous1;
    }
  }
  &__row {
    display: flex;
    align-items: center;
  }
  &__cover {
    width: $height__input--file;
    height: $height__input--file;
    margin-right: 0.5rem;

    border-radius: $border-radius__input;
    overflow: hidden;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__heading {
    @include text--normal-bold;
    @include text--truncate(1);
    text-align: start;
    display: inline;
  }
  &__cal {
    @include text--small-bold;
    color: $color--error;
  }
  &__hint {
    @include text--small-bold;
    color: $color--analogous2;
  }
  &__time {
    @include text--extra-small;
    color: $color--gray3;
  }
  &__text {
    padding: $padding__chat-msg;

    @include text--small;
    text-align: start;

    border-radius: $border-radius__input;
    background-color: $color--gray6;

    position: relative;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.5rem 0.8rem 0.5rem;
      border-color: transparent transparent $color--gray6 transparent;

      position: absolute;
      top: -0.8rem;
      right: 1rem;
    }
  }
  .css-1slz293-MuiSkeleton-root {
    height: 10rem;
    @include placeholder__rec(0 0 0.5rem 0);
  }
  &__btn {
    @media screen and (max-width: $sm) {
      padding: 0 0.5rem;
    }
  }
}

.c-dietlog-modal {
  min-width: 80%;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__fieldset {
    width: 100%;
    margin-bottom: 1rem;
  }
  &__textarea {
    height: 6.25rem;
  }
  &__wrapper {
    overflow: hidden;
  }
}

.c-dietlog-fields {
  margin: 1rem 0;
  &__input {
    &[type="number"] {
      padding: 0.125rem;

      @include text--small;
      @include clear__number-arrow;
    }
  }
  &__label {
    $_: &;
    height: $height__input;
    @include text--small;
    color: $color--gray3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(#{$_}--start) {
      color: $color--font;
    }
    &--start {
      height: max-content;
      align-items: flex-start;
    }
    &--name {
      height: $height__input;
      justify-content: flex-start;
      text-align: start;
      &:not(#{$_}--start) {
        @include text--small-bold;
        color: $color--primary;
      }
    }
  }
  &__field {
    margin-bottom: 0.5rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.echarts-for-react {
  height: max-content !important;
}

.c-cover {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
