.l-dietlog {
  width: 100%;
  height: max-content;
  min-height: $height__content;
  &__sidebar {
    position: sticky;
    top: $height__navbar + 2.5rem;
  }
  &__icon {
    color: $color--primary;
  }
  .react-calendar {
    $_: &;
    &__tile {
      height: $height__calendar;
      padding: 2rem 0;

      @include clear__btn;

      display: flex;
      align-items: center;
      justify-content: center;

      abbr {
        width: $height__calendar;
        height: $height__calendar;

        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: $transition;
        &:hover {
          background: $color--gray6;
        }
      }
      &--now {
        abbr {
          color: $color--light;
          background: $color--primary;
          @include interaction__btn;
        }
      }
      &--active {
        abbr {
          color: $color--font;
          background: $color--secondary;
          @include interaction__btn;
        }
      }
    }
    &__navigation {
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &__label {
        @include clear__btn;

        @include text--normal-bold;
        color: $color--primary;

        @include cursor(pointer);
      }
      &__next-button {
        &::before {
          @include icon--absolute("\f105");
        }
      }
      &__next2-button {
        &::before {
          @include icon--absolute("\f101");
        }
      }
      &__prev-button {
        &::before {
          @include icon--absolute("\f104");
        }
      }
      &__prev2-button {
        &::before {
          @include icon--absolute("\f100");
        }
      }
      &__arrow {
        width: $size__icon-btn;
        height: $size__icon-btn;

        @include clear__btn;
        border-radius: 50%;

        transition: $transition;

        position: relative;
        &::before {
          color: $color--primary;
          font-size: 1rem;

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include interaction__link;
        }
        &:hover {
          background: $color--opacity;
        }
      }
    }
    &__month-view {
      &__weekdays {
        &__weekday {
          height: $height__calendar;

          display: flex;
          justify-content: center;
          align-items: center;
          abbr {
            color: $color--gray3;
            text-decoration: none;
            cursor: default;
          }
        }
      }
      &__days {
        &__day {
          &--neighboringMonth {
            color: $color--gray4;
          }
        }
      }
    }
    &__year-view {
      &__months {
        justify-content: space-around;
        &__month {
          border-radius: $border-radius__btn;
        }
      }
    }
  }
  &__accordion {
    margin-bottom: 1.5rem;

    border: none;

    @include cursor(pointer);
  }
  &__card {
    width: 100%;
    height: max-content;
    padding: $padding__card;

    border: none;
    border-radius: $border-radius__small-block;

    transition: $transition;
    &:hover {
      box-shadow: $box-shadow__card--active;
    }
    &:focus,
    &:active {
      outline: none;
    }
    &--breakfast {
      background: $color__bg--secondary;
    }
    &--lunch {
      background: $color__bg--error;
    }
    &--dinner {
      background: $color__bg--info;
    }
    &--others {
      background: $color__bg--analogous1;
    }
  }
  &__cover {
    width: 3rem;
    height: 3rem;
    border-radius: $border-radius__input;
    overflow: hidden;
  }
  &__heading {
    margin-right: 1rem;
    @include text--normal-bold;
    @include text--truncate(1);
    text-align: start;
  }
  &__cal {
    @include text--normal;
    color: $color--error;
  }
  &__time {
    @include text--extra-small;
    color: $color--gray3;
  }
  &__text {
    padding: $padding__chat-msg;

    @include text--small;
    text-align: start;

    border-radius: $border-radius__input;
    background-color: $color--gray6;

    position: relative;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.5rem 1rem 0.5rem;
      border-color: transparent transparent $color--gray6 transparent;

      position: absolute;
      top: -1rem;
      right: 1rem;
    }
  }
}
