.floatCart {
  height: $height__floating-menu;
  width: $width__floating-menu;
}
.floatingCartItem {
  overflow-y: auto;
  height: calc($height__floating-menu * 0.55);
  //scrollbar
  /* width */
  &::-webkit-scrollbar {
    width: 0.5vw;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: $color--gray6;
    border-radius: 0.3rem;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color--primary;
    border-radius: 0.3rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color--hover;
  }
}
