.floatCart {
  height: $height__floating-menu;
  width: $width__floating-menu;
}
.floatingCartItem {
  overflow-y: auto;
  height: max-content;
  max-height: calc($height__floating-menu * 0.6);
  @include scrollbar;
}
