.l-home {
  height: max-content;
  &__main {
    padding: 3.75rem 0;
    overflow: hidden;

    position: relative;
  }
  &__bg {
    width: 100%;
    height: calc(100% + 100vh);
    background-image: url("../img/home/pic/bg.webp");
    background-repeat: repeat-Y;
    background-size: 130%;

    position: absolute;
    top: -100vh;
    left: 0;
    z-index: -1;
    @media screen and (max-width: $lg) {
      background-size: 300%;
    }
  }
  &__key-visual {
    width: 100%;
    height: calc(100vh - $height__navbar);

    overflow: hidden;

    position: relative;

    display: flex;
    justify-content: flex-start;

    position: relative;
  }
  &__slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    @include h2;
    color: $color--light;
    margin-bottom: 1rem;

    text-align: center;

    transition: 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    letter-spacing: -0.5rem;
    opacity: 0;
    &.active {
      letter-spacing: 0.625rem;
      opacity: 1;
    }
    &--cursive {
      margin-bottom: 0;

      font-family: "Style Script", cursive;
      line-height: 90%;
      font-size: 7rem;
      &.active {
        letter-spacing: 0.0125rem;
        opacity: 1;
      }
    }
  }
}

.c-scroll-indicator {
  $_: &;
  padding: 1.5rem;
  @include clear__btn;
  @include text--extra-small;
  color: $color--primary;

  position: absolute;
  right: -1.5rem;
  bottom: 15%;
  z-index: 1000;

  transition: $transition;
  @include interaction__link;

  transform: rotate(90deg);

  &::after {
    content: "";
    height: 0.0625rem;
    width: 6rem;

    background: $color--secondary;

    transition: $transition;

    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);

    animation: translateX 2s ease-in-out infinite;
  }
  &:hover {
    &::after {
      transform: translate(10%, -50%);
    }
  }
  @media screen and (max-width: $md) {
    width: max-content;

    color: $color--light;

    left: 50%;
    bottom: 15%;
    transform: translateX(-50%) rotate(90deg);
    &::after {
      background: $color--light;
      animation: translateX 2s ease-in-out infinite;
    }
  }
}

.c-title {
  display: flex;
  flex-direction: column;
  &__deco {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.625rem;
    color: $color__deco;
  }
  &--center {
    align-items: center;
  }
  &--start {
    align-items: flex-start;
    @media screen and(max-width: $lg) {
      align-items: center;
    }
  }
  &__icon {
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: $lg) {
      margin-bottom: 0.5rem;
    }
  }
  &__title {
    margin-bottom: 1rem;
    color: $color--primary;
    font-weight: bold;
    letter-spacing: 0.1875rem;
    text-align: center;
    @media screen and (max-width: $lg) {
      margin-bottom: 0.5rem;
      @include h5;
      color: $color--primary;
      font-weight: bold;
      letter-spacing: 0.1875rem;
    }
  }
  &__subtitle {
    @include text--medium-bold;
    color: $color--gray3;
    @media screen and (max-width: $lg) {
      text-align: center;
    }
  }
  &__text {
    margin-bottom: 0.75rem;
    @include text--medium-bold;
    text-align: center;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__hr {
    margin: 2rem 0 2.5rem 0;
    @media screen and(max-width: $lg) {
      margin: 1.5rem 0 1.5rem 0;
    }
  }
  &__heading {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(max-width: $lg) {
      @include h6;
    }
  }
  &__context {
    margin-bottom: 1rem;
    @include text--normal;
    font-weight: 300;
    text-align: center;
    &::last-of-type {
      margin-bottom: 0;
    }
  }
  &__line-break {
    margin-bottom: 1rem;
    display: block;
    text-align: center;
  }
}

.c-overview {
  margin-bottom: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__cover {
    width: 100%;
    height: 12.5rem;
    margin-bottom: 1.5rem;

    overflow: hidden;

    border-radius: $border-radius__home-small-block;
    @media screen and (max-width: $lg) {
      height: 8.75rem;
      margin-bottom: 1rem;

      border-radius: $border-radius__home-small-block--mobile;
    }
  }
  &__heading {
    margin-bottom: 1rem;
    @include text--medium-bold;
    @media screen and (max-width: $lg) {
      margin-bottom: 0;
    }
  }
  &__description {
    @include text--normal;
    font-weight: 300;
    text-align: center;
    color: $color--gray3;
  }
}

.c-section {
  margin-bottom: 5rem;

  z-index: 0;
  @media screen and (max-width: $lg) {
    margin-bottom: 2.5rem;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
  &.l-home__product {
    margin-bottom: 0;
  }
  &__context {
    margin-bottom: 1rem;
    @include text--normal;
    font-weight: 300;
    &::last-of-type {
      margin-bottom: 0;
    }
    @media screen and (max-width: $lg) {
      text-align: center;
    }
  }
  &__block {
    overflow: hidden;

    position: absolute;
    top: 0;
    &--right {
      width: $width__block-single;
      height: $height__product-intro;

      border-radius: $border-radius__home-block--right;

      left: 0;
      @media screen and (max-width: $lg) {
        width: 100vw;
        left: auto;
      }
    }
    &--left {
      width: $width__block-single;
      height: $height__product-list;

      border-radius: $border-radius__home-block--left;
      background: $color--primary;

      right: 0;
      z-index: -1;
      @media screen and (max-width: $lg) {
        width: 90vw;
        height: $height__block--mobile;
        left: 0;
        right: auto;
        &[section="log"] {
          width: 100vw;
          left: auto;
        }
      }
    }
    &--both-left {
      width: $width__block-both;
      height: $height__diet-intro;

      border-radius: $border-radius__home-block--left;

      right: 2rem;
      @media screen and (max-width: $xl) {
        border-radius: $border-radius__block;

        right: 0;
      }
    }
    &--both-right {
      width: $width__block-both;
      height: $height__diet-intro;

      border-radius: $border-radius__home-block--right;

      left: 2rem;
      @media screen and (max-width: $xl) {
        border-radius: $border-radius__block;

        left: 0;
      }
    }
  }
  &__img {
    position: absolute;
    &[section="product"] {
      width: 125%;
      height: 125%;

      top: 20%;
    }
    &[section="diet"] {
      width: 130%;
      height: 130%;

      top: 60%;
      left: -10%;
    }
  }
  &__row {
    &[section="product-intro"] {
      height: $height__product-intro;
    }
    &[section="product-list"] {
      height: $height__product-list;
    }
    @media screen and (max-width: $lg) {
      height: max-content !important;
    }
  }
  &__title {
    margin-bottom: 1rem;
    color: $color--light;
    font-weight: bold;
    &:last-of-type {
      margin-bottom: 3rem;
    }
  }
  &__hr {
    width: 105%;
    position: absolute;
    top: 12.75rem;
  }
  &__subtitle {
    margin-bottom: 0.75rem;
    @include text--medium-bold;
    color: $color--light;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__wrapper {
    padding: 4.75rem 0 0 0;
    @media screen and (max-width: $lg) {
      &[section="list"] {
        padding: 0;
      }
    }
  }
  &__item {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
  }
  &__list-num {
    width: $height__list-num;
    min-width: $height__list-num;
    height: $height__list-num;
    min-height: $height__list-num;
    margin-right: 1.5rem;

    background: $color--light;
    box-shadow: $box-shadow__block;
    border-radius: 50%;

    @include h3;
    color: $color--primary;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__heading {
    margin-bottom: 8px;
  }
  &__description {
    @include text--normal;
    font-weight: 300;
    color: $color--gray3;
  }
  &__container {
    height: $height__block--mobile;
  }
}

.c-diet {
  padding: 1.5rem 0;
  &__list {
    margin-bottom: 2.5rem;
  }
  &__item {
    margin-bottom: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__text {
    @include text--medium;
  }
  &__heading {
    margin-bottom: 2.5rem !important;
    text-align: center;
    color: $color--primary;
  }
}

/*l-home__calculator*/
.l-home__calculator {
  padding-bottom: 3rem;
  .c-textbox {
    padding-top: 5rem;
    padding-left: 6.25rem;
    @media screen and (max-width: $xxl) {
      padding-left: 3rem;
    }
    @media screen and (max-width: $xl) {
      padding-left: 0rem;
    }
    @media screen and (max-width: $lg) {
      padding-top: 0;
    }
    @media screen and (max-width: $md) {
      .c-title__deco {
        display: none;
      }
    }
  }
  .des-right__deco {
    width: 200px;
    transform: translate(65%, -50%);
    top: 50%;
    right: 0;
    z-index: -1;
    @media screen and (max-width: $xl) {
      width: 150px;
    }
    @media screen and (max-width: $lg) {
      top: 18%;
    }
    @media screen and (max-width: $md) {
      width: 100px;
      top: 10%;
      right: 10%;
    }
    &::before {
      width: 400px;
      height: 400px;
      @media screen and (max-width: $xl) {
        width: 300px;
        height: 300px;
      }
      @media screen and (max-width: $md) {
        width: 200px;
        height: 200px;
      }
    }
  }
}
