.c-member-info {
  margin-bottom: 2.5rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  &__title {
    width: 100%;
    height: $height__input;
    padding: 0.625rem 1.5rem;

    @include text--normal;
    background: $color--gray7;
    border-radius: $border-radius__input;

    display: flex;
    align-items: center;
  }
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none;
}

.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size='1'],
.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size='1'] {
  background-image: url(http://localhost:3000/static/media/down.e999c5694753697c3469.svg);
}
