.google-logout {
    background-color: transparent !important;
    box-shadow: none !important;
    border: 0px !important;
}

.google-logout>div {
    display: none;
}

.google-logout>span {
    padding: 0 !important;
}

.logout-icon {
    @include cursor(pointer);
}