.orderlist_table {
  line-height: 3.75rem;
  thead {
    line-height: 1.25rem;
    background: #fafafa;
    th:first-child {
      border-radius: 0.5rem 0 0 0.5rem;
    }
    th:last-child {
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }
}

.detail {
  background-color: $color--light;
  border: 1px solid $color--gray4;
  width: $width__btn--square;
  height: $height__btn--meduim;
  border-radius: $border-radius__btn;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardorder {
  width: 80vw;
<<<<<<< HEAD
  border-radius: 1.5rem;
  box-shadow: 2px -2px 6px hsl(0deg 0% 0% / 0.3);
=======
  border-radius: $border-radius__btn;
  box-shadow: $box-shadow__block;
>>>>>>> 4222b20c68ca4b4facce28b51a7a3ebf0e6a0df3
}

.orderline {
  border-top: solid #e0e0e0 2px;
}

.order_td {
  @include text--small;

  &__order_id {
  }

  &__create_at {
  }

  &__payment_status {
    color: $color--info;
  }

  &__order_status {
    color: $color--error;
  }

  &__total {
    color: $color--warning;
  }
}
