.c-product-filter {
  $_: &;
  &--desktop {
    width: 100%;
    height: max-content;
    max-height: calc(100vh - $top--sticky);
    margin-bottom: 2.5rem;

    position: sticky;
    top: $top--sticky;
  }
  &__title {
    margin-bottom: 1rem;
    display: flex;
  }
  &__search,
  &__price {
    margin-bottom: 1rem;
  }
  &__checkbox {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__action {
    width: 100%;
  }
  &__wrapper {
    margin-bottom: 1.5rem;
    height: max-content;
    max-height: 65vh;
    overflow-x: hidden;
    overflow-y: auto;
    @include scrollbar;
  }
  &--mobile {
    height: 100%;
    padding: $height__navbar + 4.75rem 1rem 1rem 1rem;

    z-index: 1033;

    transition: $transition__navbar-menu;
    opacity: 0;
    transform: translate3d(0, -10%, 0);
    #{$_}__wrapper {
      height: calc(100vh - $height__floating-filter - 5.25rem);
      max-height: none;
    }
  }
}

.c-floating-filter {
  $_: &;
  width: 100%;
  height: $height__floating-filter;
  padding-top: $height__navbar;

  border-radius: $border-radius__floating-filter;
  background: $color--light;
  box-shadow: $box-shadow__block;

  position: fixed;
  top: 0;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    height: 100%;
    width: 100%;

    background: $color--light;
    border-radius: $border-radius__floating-filter;

    transition: $transition__navbar-menu;

    position: fixed;
    top: calc(-100% + $height__floating-filter);
    left: 0;
  }
  &__toggle {
    width: calc(100% - 2rem);
    height: $height__btn--meduim;
    padding: 0.625rem;

    background: $color--light;
    border: $border__input;
    border-radius: $border-radius__input;

    position: absolute;
    z-index: 1002;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: "";
      width: calc(100% + 2rem);
      height: $height__floating-menu;
      background: $color--light;

      position: absolute;
      left: 50%;
      bottom: calc(100% + 0.0625rem);
      transform: translateX(-50%);
      z-index: -1;
    }
    &::before {
      @include icon--absolute("\f078");
      color: $color--primary;
      font-size: 1.25rem;

      right: 0.625rem;
    }
  }
  &__text {
    width: max-content;
    @include text--small;
    color: $color--gray3;
  }
  &__icon {
    font-size: 1.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__check {
    &:checked {
      & ~ #{$_}__menu {
        top: 0;
        border-radius: 0;
      }
      & ~ #{$_}__menu .c-product-filter--mobile {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      & ~ #{$_}__toggle #{$_}__icon--expand {
      }
    }
  }
}

.c-search {
  &__heading {
    margin-bottom: 1rem;
    @include text--normal;
  }
  &__wrapper {
    position: relative;
    &::after {
      @include icon--absolute("\f002");
      color: $color--primary;
      font-size: 1rem;

      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
    }
  }
}

.c-range {
  &__text {
    margin: 0 1rem;
  }
  .css-1domaf0 {
    width: 100%;
  }
  .css-187mznn-MuiSlider-root {
    color: $color--primary;
  }
  .css-14pt78w-MuiSlider-rail {
    color: $color--gray6;
  }
  .css-eg0mwd-MuiSlider-thumb {
    width: 1rem;
    height: 1rem;
    border: 0.0625rem solid $color--primary;
    background: $color--light;
    &::before {
      box-shadow: none;
    }
    &:hover,
    &.Mui-focusVisible {
      box-shadow: 0 0 0 8px $color--opacity;
    }
    &.Mui-active {
      box-shadow: 0 0 0 16px $color--opacity;
    }
  }
  .css-1kz0hui-MuiSlider-valueLabel {
    background: $color--primary;
    border-radius: $border-radius__input;
  }
}

.c-product-item {
  $_: &;
  width: 100%;
  margin-bottom: 3.75rem;

  position: relative;

  &__cover {
    width: 100%;
    height: 13rem;
    margin-bottom: 0.5rem;

    border-radius: $border-radius__block;
    overflow: hidden;
  }
  &__btn {
    width: 100%;
    height: 100%;
    padding: 0;

    background: transparent;
    border: none;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__action {
    height: $height__btn--meduim;

    display: flex;
    justify-content: center;
    align-items: center;

    @include cursor(pointer);
  }
}

.c-product-item-detail {
  margin: 0.5rem 0;

  &__row {
    margin-bottom: 0.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__heading {
    @include text--medium-bold;
  }
  &__price {
    @include text--medium-bold;
    color: $color--primary;
  }
  &__cal {
    @include text--small;
    color: $color--error;
  }
  &__o-price {
    @include text--small;
    color: $color--gray5;
    text-decoration: line-through;
  }
}

.c-product-detail {
  $_: &;
  &__backdrop {
    background-color: $color--modal-bg;
  }
  &__modal {
    max-width: 60%;
    @media screen and (max-width: $xl) {
      max-width: 80%;
    }
    @media screen and (max-width: $lg) {
      max-width: 90%;
    }
    @media screen and (max-width: $md) {
      max-width: none;
    }
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    padding: $padding__modal;

    background: $color--light;
    border: none;
    box-shadow: $box-shadow__modal;
    border-radius: $border-radius__modal;
    @media screen and (min-width: $md) and (max-width: $lg) {
      padding: $padding__modal--md;
    }
    @media screen and (max-width: $md) {
      padding: 0;
    }
  }
  &__close {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    @media screen and (min-width: $md) {
      display: none;
    }
  }
  &__cover {
    width: 100%;
    height: 100%;
    border-radius: $border-radius__block;
    overflow: hidden;
    @media screen and (max-width: $md) {
      border-radius: 0;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__nutrition {
    width: 100%;
    height: max-content;
    padding: 0.625rem;
    margin-bottom: 1rem;

    background: $color--info;
    border-radius: $border-radius__small-block;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    margin-bottom: 0.5rem;

    @include text--small;
    color: $color--light;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__detail {
    height: max-content;
    max-height: 11rem;
    overflow-y: auto;
    @include scrollbar;
    @media screen and (max-width: $lg) {
      max-height: 14rem;
    }
    @media screen and (max-width: $md) {
      max-height: 17.5rem;
    }
  }
  &__subtitle {
    margin-bottom: 0.5rem;
    display: flex;
  }
  &__icon {
    color: $color--info;
  }
  &__heading {
    color: $color--info;
  }
  &__description {
    margin-bottom: 1rem;
  }
  &__text {
    @include text--small;
  }
  &__o-price {
    color: $color--gray4;
    text-decoration: line-through;
  }
  &__price {
    color: $color--secondary;
  }
  &__scroll {
    padding-bottom: 6rem;
  }
  &__footer {
    width: 100%;
    height: 10rem;

    background: $color--gradient;

    position: fixed;
    bottom: 0;
    left: 0;
    @media screen and (min-width: $md) {
      padding: 0;
      position: static;
      bottom: auto;
      left: auto;
    }
  }
  &__footer-wrapper {
    width: 100%;
    padding: $padding__modal--md;

    position: absolute;
    bottom: 0;
    left: 0;
    @media screen and (min-width: $md) {
      padding: 0;
      position: static;
      bottom: auto;
      left: auto;
    }
  }
  &--fav {
    margin-bottom: 3.75rem;

    position: relative;
    #{$_}__btn {
      width: 100%;
      height: 10.5rem;
      padding: 0;

      border-radius: $border-radius__block;
      border: none;

      overflow: hidden;
      @media screen and (max-width: $md) {
        height: 13rem;
      }
    }
    #{$_}__text {
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
    }
  }
}
