.reset-page::before {
    content: '';
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, white, transparent);
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
}

.reset-page {
    height: calc(100vh - 5rem);
    overflow: hidden;
    position: relative;
    display: flex;

    .reset-page_background {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    .reset-form-Wrapper {
        position: absolute;
        width: 50%;
        top: 50%;
        left: 73%;
        padding: 50px 0;
        transform: translate(-50%, -50%);
        background-color: $color--gray7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .reset-form-title {
            border-bottom: 5px solid $color--secondary;
            padding-bottom: 1.5rem;
        }

        .reset-form {
            width: 75%;
            padding-top: 2rem;

            .reset-form_button {
                padding: 1rem 0;
                margin-top: 1rem;
                background-color: $color--success;
                border-color: transparent;
                width: 100%;
                color: $color--light;
                line-height: 1.5;
                border: 1px solid transparent;
                border-radius: 0.625rem;
                transition: $transition;
            }

            .reset-form_button:hover {
                background-color: $color--hover;
            }

            .form-floating {
                position: relative;
                margin-bottom: 1rem;

                .form-control {
                    background-color: transparent;
                    border-radius: 0;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    padding: 3.25rem 1.25rem 1.5rem 4rem;
                    height: 4.25rem;
                }

                .form-control:focus {
                    padding: 3.25rem 1.25rem 1.5rem 4rem;
                    height: 4.25rem;
                    background-color: transparent;
                    border-radius: 0;
                    box-shadow: none;
                }

                .fa-envelope,
                .fa-lock {
                    position: absolute;
                    top: 50%;
                    left: 6%;
                    transform: translate(-50%, -50%);
                    font-size: 1.5rem;
                    color: $color--gray4;
                    padding: 1.4rem 1.15rem 1.4rem 1rem;
                }

                .reset-form_label {
                    color: $color--gray4;
                    padding: .5rem 0 0 4rem;
                    margin-bottom: 0.5rem;
                    color: $color__font;
                    width: 100%;
                    height: 2.5rem;
                }

                .fa-eye {
                    position: absolute;
                    top: 50%;
                    left: 90%;
                    transform: translate(-50%, -50%);
                    font-size: 1.5rem;
                    color: $color--gray4;
                    padding: 1rem 1rem 1rem 0.5rem;
                }

                .fa-eye-slash {
                    position: absolute;
                    top: 50%;
                    left: 90%;
                    transform: translate(-50%, -50%);
                    font-size: 1.5rem;
                    color: $color--gray4;
                    padding: 1rem 1rem 1rem 0.5rem;
                }
            }

            .form-control::placeholder {
                @include text--small;
                color: $color--gray4;
                padding-left: 0.5rem;
            }
        }
    }
}

.reset-page::after {
    content: '';
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, white);
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

/*** Tablet Mode ***/
@media screen and (max-width: 1023px) {
    .reset-page {
        .reset-form-Wrapper {
            .reset-form-title {
                font-size: 2rem;
            }

            .reset-form {
                width: 90%;
            }
        }
    }
}

/*** Mobile Mode ***/
@media screen and (max-width: 767px) {
    .reset-page {
        height: auto;

        .reset-page_background {
            display: none;
        }

        .reset-form-Wrapper {
            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            transform: none;
            margin: 0 auto;
            padding: 2rem 0;
            height: 100%;

            .reset-form {

                .form-floating {

                    .fa-envelope,
                    .fa-lock {
                        left: 5%;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 425px) {
    .reset-page {
        .reset-form-Wrapper {
            .reset-form {
                .form-floating {

                    .fa-envelope,
                    .fa-lock {
                        left: 10%;
                    }
                }
            }
        }
    }
}