.Sidebaritems {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
<<<<<<< HEAD
=======

>>>>>>> 4222b20c68ca4b4facce28b51a7a3ebf0e6a0df3
.Sidebaritem {
  .Sidebarfont {
    display: flex;
<<<<<<< HEAD
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.25rem;
    color: #74b08d;
    padding: 1.3rem 1rem;
    //hover 效果

    // &:hover {
    //   background-color: #555;
    //   color: white;
    // }
  }
}

.SidebarMobileitems {
  width: 100%;

  .Sidebarfont {
    display: flex;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.25rem;
    color: #74b08d;
    padding: 1.3rem 1rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;

    //hover 效果

    // &:hover {
    //   background-color: #555;
    //   color: white;
    // }
  }
}

.Sidebaritem1 {
  .Sidebarfont {
    display: block;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.25rem;
    color: #74b08d;
    padding: 0rem 1rem 1.3rem 1rem;
    text-decoration: none;
    //hover 效果
    // &:hover {
    //   background-color: #555;
    //   color: white;
    // }
  }
}

.SidebarMobileitem1 {
  .Sidebarfont {
    display: flex;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.25rem;
    color: #74b08d;
    padding: 0rem 1rem 1.3rem 1rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    //hover 效果
    // &:hover {
    //   background-color: #555;
    //   color: white;
    // }
=======
    align-items: center;

    @include cursor(pointer);
    &__icon {
      color: $color--analogous1;
      font-size: 1.25rem;

      transition: $transition;
    }
    &__text {
      margin-left: 1rem;
      @include h5;
      color: $color--analogous1;
      font-size: 1.125rem;

      transition: $transition;
    }
    &:hover {
      .Sidebarfont__icon,
      .Sidebarfont__text {
        color: $color--hover;
      }
    }
    &:focus,
    &:active {
      .Sidebarfont__icon,
      .Sidebarfont__text {
        color: $color--active;
      }
    }
    &.active {
      .Sidebarfont__icon,
      .Sidebarfont__text {
        color: $color--active;
      }
    }
  }

  .Sidebarfont {
    justify-content: flex-start;
    @media screen and (max-width: $lg) {
      justify-content: center;
    }
>>>>>>> 4222b20c68ca4b4facce28b51a7a3ebf0e6a0df3
  }
}

.Sidebarline {
  border-top: solid #e0e0e0 2px;
}
