@import './_variables.scss';

.header {
    .logo {
        width: 50px;
        height: 50px;
    }
}

.mobile-only {
    display: none;
}

.form {
    .bgImage {
        width: 100%;
        height: calc(100vh - 66px);
    }

    .signup-form {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);

        .title {
            display: inline-block;
        }

        .form-control {
            background-color: transparent;
            border-radius: 0;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }

        .form-control:focus {
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
        }
    }
}

.mobile-form {
    display: none;
}

@media screen and (max-width: 375px) {
    .header {
        .container {
            display: block !important;
            // position: relative;

            ul {
                display: block !important;
                position: relative;

                li:not(:first-child) {
                    display: none;
                }

                .logo {
                    margin: 0 auto;
                }
            }

            .btn-group {
                display: none;
            }
        }
    }

    .mobile-only {
        position: absolute;
        top: 5.5%;
        left: 90%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 30px;
        height: 30px;

        .menu-line1 {
            position: absolute;
            background-color: white;
            width: 25px;
            height: 3px;
            top: 0px;
        }

        .menu-line2 {
            position: absolute;
            background-color: white;
            width: 25px;
            height: 3px;
            top: 10px;
        }

        .menu-line3 {
            position: absolute;
            background-color: white;
            width: 25px;
            height: 3px;
            top: 20px;
        }
    }

    .form {
        display: none !important;
    }

    .mobile-form {
        display: block;
    }
}