@import './_variables.scss';

.form {
    .bgImage {
        width: 100%;
        height: calc(100vh - 80px);
    }

    .signup-form {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);

        .title {
            display: inline-block;
        }

        .form-control {
            background-color: transparent;
            border-radius: 0;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }

        .form-control:focus {
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
        }
    }
}

.mobile-form {
    display: none;
}

@media screen and (max-width: 375px) {
    .form {
        display: none !important;
    }

    .mobile-form {
        display: block;

        form {
            .btn {
                background-color: $color--primary;
                border-color: transparent;
            }

            .form-floating {
                position: relative;

                i {
                    position: absolute;
                    top: 50%;
                    left: 12.5%;
                    transform: translate(-50%, -50%);
                    font-size: 24px;
                    color: $color--gray4;
                    padding: 1rem 1rem 1rem 0.5rem;
                }

                .fa-eye {
                    position: absolute;
                    top: 50%;
                    left: 90%;
                    transform: translate(-50%, -50%);
                    font-size: 24px;
                    color: $color--gray4;
                    padding: 1rem 1rem 1rem 0.5rem;
                }

                .fa-eye-slash {
                    position: absolute;
                    top: 50%;
                    left: 90%;
                    transform: translate(-50%, -50%);
                    font-size: 24px;
                    color: $color--gray4;
                    padding: 1rem 1rem 1rem 0.5rem;
                }

                label {
                    padding: 0.25rem 0.75rem 0.25rem 3.5rem;
                    color: $color__font;
                }

                .form-control {
                    padding: 3rem 0.75rem 1rem 3.5rem;
                }

                .form-control:focus {
                    padding: 3rem 0.75rem 1rem 3.5rem;
                }

                .form-control::placeholder {
                    color: revert;
                }
            }
        }
    }
}